
@media(min-width: 35em){
footer{
  background-color: white;
  padding-block: 2em;
  width: 100vw;

  .social-wrapper{
    p{
      font-size: 1.2rem;
      text-align: center;
    }
    .social-box{
      display: flex;
      gap: 2rem;
      justify-content: center;
      .fa{
        font-size: 3rem;
      }
    }
  }

.line-wrapper{
  display: flex;
  height: 10rem;
  align-items: center;
  .thin-line{
    border-bottom: solid .1rem muted();
  }

}

.location-contact{
  p{
    font-size: 1.2rem;
    text-align: center;
  }
}


}

}





@media(max-width: 35em){
  footer{
    background-color: white;
    padding: 1.5em;
    width: 100vw;
  
    .social-wrapper{
      p{
        font-size: 1.2rem;
        text-align: center;
      }
      .social-box{
        display: flex;
        gap: 2rem;
        justify-content: center;
        .fa{
          font-size: 3rem;
        }
      }
    }
  
  .line-wrapper{
    display: flex;
    height: 10rem;
    align-items: center;
    .thin-line{
      border-bottom: solid .1rem muted();
    }
  
  }
  
  .location-contact{
    p{
      font-size: 1.2rem;
      text-align: center;
    }
  }
  
  
  }
  
  }